APP_NAME="Impact Tech"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000
APP_LOCALE=ar
DB_CONNECTION=sqlite
SESSION_DRIVER=file
SESSION_SECURE_COOKIE=false
CACHE_STORE=file
QUEUE_CONNECTION=sync
LOG_CHANNEL=single
